@import "tailwindcss";
@plugin "daisyui";



.font-poetsen {
  font-family: 'Poetsen One', serif;
}

.font-cabin {
  font-family: 'Cabin Condensed', sans-serif;
}


.modal-close {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}